.caja-central{
display: flex;
flex-direction: row;
background-image: url('./980229.jpg');
background-position: center;
background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
width: 100%;
justify-content: center;
align-items:flex-end;
padding-left: 33%;

min-height: 100vh;

}
.caja-send{
border-radius: 70%;
border: 100px;
display: flex;
flex-direction: column;
background-image: url('./884402.jpg');
background-position: center;
background-size:contain;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
width: 40%;
justify-content: center;
align-items: center;
}